:root {
  --mc-border-color: #c3c4c7;
}

/** Custom general buttons **/
.button-red {
  border-radius: 5px 0px 0px 5px;
  background-color: #d9534f !important;
  border-color: #a9322e !important;
  transition: all 0.2s ease-in-out;
  color: #fff !important;
}

.button-red:hover {
  background-color: #c9302c !important;
  border-color: #89201d !important;
}



.del-btns {
  margin-bottom: 1em;
}








/*
.fktemplates-list-tr td {
  padding: 0px 10px;
}

.fktemplates-list-tr .nb-manage-controls {
  margin-top: 0px;
  padding: 10px 10px;
}

.fktemplates-list-tr:not(:first-of-type) .nb-manage-controls {
  border-top: dashed gray 0.5px;
}

.fktemplates-list-tr:not(:last-of-type) .nb-manage-controls {
  border-bottom: none;
}
*/



















/*.manage-list h3 {
  border-bottom: 1px solid #ddd;
  padding-bottom: 0.5em;
  margin-bottom: 0;
  padding-left: 0.5em;
}

.manage-list tr:not(:last-child) > th {
  padding-left: 0.5em;
  padding-bottom: 0px !important;
}

.manage-list tr:not(:last-child) > td {
  padding-bottom: 0px !important;
}

.manage-title {
  padding: 5px 10px 0px 0 !important;
}

.manage-title > h3 {
  margin: 0 !important;
}*/





/* -- Ferienkurs-list, participants box -- */













/*.datepicker-highlight > a {
  background: #ff9e80 url(images/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x !important;
}*/

/*.datepicker-highlight.ui-state-highlight > a {
  background: #ff3d00 !important;
}*/

/* Highlight default weekdays */
/*.ui-datepicker td.datepicker-highlight a.ui-state-default {
  background: #ffccbc url(images/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x;
  border: 1px solid #d50000;
}*/



/*
.ui-datepicker td.datepicker-highlight.ui-state-highlight {
  background: #dd2c00; //url(images/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x;
  }
*/




/* List courses, header */
/*#ferien-select {
  margin-right: 3rem;
}*/






div.settings_page {
  margin-top: 0 !important;
}

label.th, label.by {
  font-weight: bolder;
  color: red;
}