.ws-selector {
  border: 1px solid #ddd;
  box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
  background-color: #fff;
  color: #32373c;
  outline: 0;
  transition: 50ms border-color ease-in-out;
  margin-left: 6px;
  margin-right: 6px;
  height: 30px;
  line-height: 30px;
  width: 140px;
  border-radius: 1px;
  -webkit-border-radius: 1px;
}

.ws-button {
  height: 30px;
  line-height: 30px;
  padding: 0px 8px !important;
  margin: 0 !important;
  border-radius: 1px !important;
}

.ws-std-title, .ws-fpr-title, .ws-fp-title {
  margin-bottom: 0 !important;
}

.ws-fpr-states {
  margin-top: 1rem;
  max-width: 800px;
}

.ws-fpr-title * {
  color: red;
}

.ws-std-state, .ws-fpr-state {
  text-align: center;
  margin-bottom: 0.5rem;
  border-radius: 0.4em;
  border: 2px solid;
}

.ws-std-free, .ws-fpr-free {
  background-color: rgba(131,255,164,0.3) !important;
  border-color: green;
}

.ws-std-full, .ws-fpr-full {
  background-color: rgba(227,135,135,0.3) !important;
  border-color: red;
}

.ws-subheader {
  padding: 0.4em 0 0 0;
  font-weight: normal;
  font-size: 85%;
  border-bottom: 1px solid #ccc;
}

.ws-table-content tr td {
  padding-left: 0.2em;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 38px;
  /*padding-top: 1% !important;
	/padding-bottom: 1% !important;
	padding-left: 2.5% !important;*/
  font-size: 20px;
}

.post-inner {
  max-width: 100% !important;
}

.ws-table-content th td {
  padding-left: 0.1em;
}

.ws-header {
  padding-bottom: 0.2em;
}

tr.ws-last td {
  border-bottom: 0px solid black;
  margin-bottom: 0.2em;
}

input[type=text].ws-fpr-bookbox::before { content: "\A"; }

input[type=text].ws-fpr-bookbox {
  width: auto;
  max-width: auto;
  display: inline-block;
  text-align: center;
  padding: 0.8rem 1rem;
  margin: 0.3rem 0rem 0.3rem 0.4rem;
  font-family: monospace;
  height: 3.8rem;
  border-right: none;
  border-radius: 0.6em 0em 0em 0.6em;
}

input[type=button].ws-fpr-bookbtn {
  display: inline-block;
  background-color: gray;
  height: 3.8rem;
  padding: 0rem 1rem;
  border: 0.5px solid lightgray;
  border-left: none;
  border-radius: 0em 0.6em 0.6em 0em;
}

.ws-fpr-date {
  font-weight: bold;
}

.ws-fpr-book {
  white-space: pre;
}

.nb-footer-text {
  font-size: xx-small !important;
  color: rgba(88, 88, 88, 0.3) !important;
}
