.ws-selector {
  border: 1px solid #ddd;
  box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
  background-color: #fff;
  color: #32373c;
  outline: 0;
  transition: 50ms border-color ease-in-out;
  margin-left: 6px;
  margin-right: 6px;
  height: 30px;
  line-height: 30px;
  width: 140px;
  border-radius: 1px;
  -webkit-border-radius: 1px;
}

.ws-button {
  height: 30px;
  line-height: 30px;
  padding: 0px 8px !important;
  margin: 0 !important;
  border-radius: 1px !important;
}

.ws-std-title, .ws-fpr-title {
  margin-bottom: 0 !important;
}

.ws-fpr-title * {
  color: red;
}

.ws-std-free, .ws-fpr-free {
  background-color: rgba(131,255,164,0.3) !important;
}

.ws-std-full, .ws-fpr-full {
  background-color: rgba(227,135,135,0.3) !important;
}

.ws-std-state, .ws-fpr-state {
  text-align: center;
}

.ws-subheader {
  padding: 0.4em 0 0 0;
  font-weight: normal;
  font-size: 85%;
  border-bottom: 1px solid #ccc;
}

.ws-table-content tr td {
  padding-left: 0.2em;
}

.ws-table-content th td {
  padding-left: 0.1em;
}

.ws-header {
  padding-bottom: 0.2em;
}

.ws-last {
  border-bottom: 0px solid black;
  margin-bottom: 0.2em;
}

.wmb-footer-text {
  font-size: xx-small !important;
  color: rgba(88, 88, 88, 0.3) !important;
}
